/* ExtraLight latin */
@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: 'Yanone Kaffeesatz';
    src: local('Yanone Kaffeesatz ExtraLight'), local('YanoneKaffeesatz-ExtraLight'), url(../fonts/YanoneKaffeesatz-ExtraLight.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Light latin */
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Yanone Kaffeesatz';
    src: local('Yanone Kaffeesatz Light'), local('YanoneKaffeesatz-Light'), url(../fonts/YanoneKaffeesatz-Light.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Regular latin */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Yanone Kaffeesatz';
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(../fonts/YanoneKaffeesatz-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Bold latin */
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Yanone Kaffeesatz';
    src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(../fonts/YanoneKaffeesatz-Bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Regular latin */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(../fonts/AlegreyaSans-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Icons */
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'icomoon';
    src: url(../fonts/icomoon.woff2) format('woff2');
}

[class^="icon-"], [class*=" icon-"] {
    speak: none;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-family: 'icomoon' !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icon-edit:before {
    content: "\270e";
}
.icon-happy:before {
    content: "\263a";
}
.icon-sad:before {
    content: "\2639";
}
.icon-cog:before {
    content: "\e810";
}
.icon-star:before {
    content: "\2606";
}
.icon-flag:before {
    content: "\2690";
}
.icon-logout:before {
    content: "\2326";
}
.icon-cross:before {
    content: "\2715";
}
.icon-trash:before {
    content: "\1f5d1";
}