header {
    top: 0;
    z-index: 2;
    width: 100%;
    height: 5rem;
    position: fixed;
}

header nav,
header section {
    height: 5rem;
    line-height: 3rem;
    box-sizing: border-box;
}

header img {
    float: left;
    height: 3.5rem;
    display: inline-block;
    margin: 0.55em 0.75rem 0 1rem;
}

header h3 {
    float: left;
    font-size: 3rem;
    line-height: 5rem;
    display: inline-block;
}

header .logo a {
    color: #333;
}

header nav {
    top: 0;
    right: 0;
    text-align: right;
    position: absolute;
    width: auto !important;
    padding: 1rem 1rem 1rem 0;
}

header nav select {
    height: 3.1rem;
    margin-right: 0.5rem;
}
